

<!--------------------------------------------------------------------->

<div>

  <div class="col col-14">
    <input type="hidden" id="email" />

    <label>Contraseña</label>
    <input type="password" id="password" class="form form-control" required (blur)="validarPassword();" />
    <span style="font-size:14px;color:silver;">Debe contener numeros ,letras y su tamaño debe ser mayor o igual a ocho (8) caracteres</span><br />

    <label>Confirmar contraseña</label>
    <input type="password" id="confirmaPassword" class="form form-control" required />

    <label class="checkbox-inline"> <input type="checkbox" id="robot" class="btn btn btn-default active" required /> No soy un robot</label><br /><br />

  </div>

  <div class="form-group">
    <div class="col-md-12">
      <div class="row">
        <div class="col-md-6">
          <button type="submit" id="registrar" (click)="changePassword();" class="btn btn-success" style="width:45%;">Enviar</button>
        </div>
        <div class="col-md-6 text-right">
          <button type="submit" id="cancelar" (click)="cancelar();" class="btn btn-danger" style="width:45%;">Cancelar</button>
        </div>
      </div>
    </div>

  </div>

  <div>
    <div id="mensaje" class="modalTipo">
      <div class="modal-content">
        <div class="formulario-campo">
          <label id="msj"></label>
        </div>
      </div>
    </div>
  </div>

</div>
