
<div class="container" style="margin-top:2%;border-radius:30%;">


    <div id="_profile" class="row" >

      <div class="col col-4" style="text-align: center;">
        <img class="imgSkill" id="_foto" /><br />
        <a class='btn' style="color:cornflowerblue;"> <i (click)="actualizarPerfil();"> Actualizar perfil</i></a>
      </div>

      <br /><br />

      <div class="col col-4">
        <div>
          <span>Categoria escort: </span>
          <input type="text" style="border:none;" class="form form-control" id="escort">
        </div>
        <div>
          <span>Presentacion: </span>
          <input type="text" style="border:none;" class="form form-control" id="presentacion">
        </div>
        <div>
          <span>Edad: </span>
          <input type="text" style="border:none;" class="form form-control" id="edad">
        </div>
        <div>
          <span>Ubicacion: </span>
          <input type="text" style="border:none;" class="form form-control" id="ubicacion">
        </div>
        <div>
          <span>Telefono: </span>
          <input type="text" style="border:none;" class="form form-control" id="telefono">
        </div>
        <div>
          <span>Valor hora: </span>
          <input type="text" style="border:none;" class="form form-control" id="valor1">
        </div>
        <div>
          <span>Valor 1/2 hora: </span>
          <input type="text" style="border:none;" class="form form-control" id="valor2">
        </div>
        <div>
          <span>Pais de origen: </span>
          <input type="text" style="border:none;" class="form form-control" id="nacion">
        </div>
      </div>

    </div>





    <div id="contenedor" class="container">
      <div style="text-align:center;">
        <div>
          <span style="font-size:12px;color:silver;font-weight:bold;">Nueva publicacion</span>
          <input type="text" id="_texto" [(ngModel)]="_texto" placeholder="Descripcion imagen" class="form form-control" />
        </div>
        <div>

          <input type="file" #file placeholder="Choose file" (change)="uploadFile(file.files)" style="display:none;">
          <a class='btn' style="color:cornflowerblue;"> <i (click)="file.click();"> Seleccionar foto</i></a>
        </div>
        <div>


        </div>
      </div>
    </div>

    <table id="tablaPortada" class="table table-hover" style="border:none;text-align:center;">
      <thead style="display:none;"></thead>
      <tbody></tbody>
    </table>

  </div>

<div>
  <div id="mensaje" class="modalTipo">
    <div class="modal-content">
      <div class="formulario-campo">
        <label id="msj" [(ngModel)]="msj"></label>
      </div>
    </div>
  </div>
</div>

<input type="hidden" id="_user" [(ngModel)]="_user"/>
<input type="hidden" id="_guid" [(ngModel)]="_guid"/>
