<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>

<div class="container" style="margin-top:2%;border-radius:30%;">


  <div id="_profile" class="row">

    <div class="col col-4">
      <img class="imgSkill" id="_foto" /><br />
      <a class='btn'  style="color:#1438ff;font-size:16px;font-style:italic;"> <i (click)="actualizarPerfil();"> Actualizar perfil</i></a>
    </div>

    <div class="col col-8">

      <div style="text-align:center;margin-top:10%;">
        <span style="font-size:18px;color:silver;font-weight:bold;">Nueva publicacion</span>
        <input type="text" id="_texto" [(ngModel)]="_texto" placeholder="Descripcion imagen" class="form form-control" style="background-color:#f8f4f3;color:black;"/>
      </div>
      <div>

        <div style="text-align:center;">
          <input type="file" #file placeholder="Choose file" (change)="uploadFile(file.files)" style="display:none;">
          <a class ='btn' style="color:#1438ff;font-size:16px;font-style:italic;"> <i (click)="file.click();"> &nbsp;&nbsp;Seleccionar foto</i></a>
        </div>
      </div>
      <div>
      </div>
    </div>

    <br /><br />

  </div>



  <table id="tablaPortada" class="table table-hover" style="border:none;text-align:center;">
    <thead style="display:none;"></thead>
    <tbody></tbody>
  </table>

</div>

<div>
  <div id="mensaje" class="modalTipo">
    <div class="modal-content">
      <div class="formulario-campo">
        <label id="msj" [(ngModel)]="msj"></label>
      </div>
    </div>
  </div>
</div>

<input type="hidden" id="_user" [(ngModel)]="_user" />
<input type="hidden" id="_guid" [(ngModel)]="_guid" />

<script type="text/javascript">

</script>
