


<div>
  <input type="hidden" id="identidad" />
  <input type="hidden" id="filename" />
</div>




<div class="col col-14">



  <div class="container">
    <div class="row">
      <div class="col col-4">
        <img class="imgSkill" id="foto" /><br />
        <span style="font-size:12px;color:silver;font-weight:bold;">El archivo debe ser de tipo: (.jpg .jpeg .bmp .png)</span>
      </div>

      <div class="col col-4">
        <br /><br /><br />
        <span style="font-size:12px;font-style:italic;"> Imagen de perfil </span><br />
        <input type="file" #file placeholder="Choose file" (change)="uploadFile(file.files)" style="display:none;">
        <button type="button" class="btn btn-primary" (click)="file.click()" style="width:auto"> Seleccionar</button>
      </div>

    </div>
  </div>

  <br />

  <div style="padding:5%;text-align:center;">
    <span style="font-size:14px;color:silver;"><strong>Debes ingresar datos reales, seran utilizados sola para el uso privado de nuestro sitio, estrictamente confidenciales y no seran compartidos.</strong></span><br />
  </div>

  <div style="padding:5px;">
    <label>Nombre</label>
    <input type="text" id="Nombre" class="form form-control" placeholder="campo opcional" />
  </div>

  <div style="padding:5px;">
    <label>Apellido</label>
    <input type="text" id="apellido" class="form form-control" placeholder="campo opcional" />
  </div>

  <div style="padding:5px;">
    <label>Fecha de nacimiento</label>
    <input type="date" id="fechaNacimiento" class="form form-control" />
  </div>

  <div style="padding:5px;">
    <label>Nombre de fantasia</label>
    <input type="text" id="username" class="form form-control" (blur)="validarUserName()" placeholder="campo requerido" />
    <span style="font-size:14px;color:silver;">Tu nombre de fantasia y sera utilizado para la creacion de tu mini web y debe cumplir con el siguiente formato nombre seguido de guion y digitos, ej: <strong> Katerina-2210 </strong></span>
  </div>

  <div style="padding:5px;">
    <label>Rut / Nº Pasaporte</label>
    <input type="text" id="dni" class="form form-control" placeholder="campo opcional" />
  </div>

  <div style="padding:5px;">
    <label>Telefono</label>
    <input type="text" id="telefono" class="form form-control" placeholder="campo opcional" />
  </div>

  <div style="padding:5px;">
    <label>Sexo</label>
    <select id="sexo" class="form form-control"></select>
  </div>

  <div style="padding:5px;">
    <label>Categoria escort</label>
    <select id="escort" class="form form-control"></select>
  </div>

  <div style="padding:5px;">
    <label>Estatura en metros, ejemplo 1,64</label>
    <input type="number" id="estatura" class="form form-control" placeholder="campo requerido" min="1" max="2" step="0.5" />
  </div>

  <div style="padding:5px;">
    <label>Peso en kilogramos, ejemplo 56,70</label>
    <input type="number" id="peso" class="form form-control" placeholder="campo requerido" min="1" max="100" step="0.5" />
  </div>

  <div style="padding:5px;">
    <label>Medidas, ejemplo 90-60-90</label>
    <input type="text" id="medidas" class="form form-control" placeholder="campo requerido" />
  </div>

  <div style="padding:5px;">
    <label>Contextura</label>
    <select id="contextura" class="form form-control"></select>
  </div>












</div>

