

<div class="container">

  <span style="font-size:14px;color:silver;"><strong>Debes ingresar datos reales, seran utilizados sola para el uso privado de nuestro sitio, estrictamente confidenciales y no seran compartidos.</strong></span><br />

  <div class="container">
    <div class="row">
      <div class="col col-4">
        <img [src]="imgPerfil"  [(ngModel)]="imgPerfil" class="imgSkill" /><br />
        <span style="font-size:12px;color:silver;font-weight:bold;">El archivo debe ser de tipo: (.jpg .jpeg .bmp .png)</span>
      </div>

      <div class="col col-4">
        <br /><br /><br />
        <span>Imagen de perfil</span><br />
        <input type="file" #file placeholder="Choose file" (change)="uploadFile(file.files)" style="display:none;">
        <button type="button" class="btn btn-success" (click)="file.click()">Seleccionar imagen</button>
      </div>
      <div class="col-md-4">
        <span class="upload" *ngIf="progress > 0" style="display:none;">
          {{progress}}%
        </span>
        <span class="upload" *ngIf="message" style="display:none;">
          {{message}}
        </span>
      </div>
    </div>
  </div>
  <br />

  <div class="col col-14">
    <label>Nombre</label>
    <input type="text" id="nombre" class="form form-control" required [(ngModel)]="nombre" />

    <label>Apellido</label>
    <input type="text" id="apellido" class="form form-control" required [(ngModel)]="apellido" />

    <label>Rut / Nº Pasaporte</label>
    <input type="text" id="dni" class="form form-control" required [(ngModel)]="dni" />

    <label>Telefono</label>
    <input type="text" id="telefono" class="form form-control" required [(ngModel)]="telefono" /><br /><br />

    <input type="hidden" id="username" [(ngModel)]="username" />
    <input type="hidden" id="identidad" [(ngModel)]="identidad" />
    <input type="hidden" id="filename" />
  </div>



  <div class="form-group">
    <div class="col-md-12">
      <div class="row">
        <div class="col-md-6">
          <button type="submit" id="registrar" (click)="SaveprofileGirls()"class="btn btn-success" style="width:200px;">Actualizar</button>
        </div>
        <div class="col-md-6 text-right">
          <button type="submit" id="cancelar" (click)="cancelar();" class="btn btn-danger" style="width:200px;">Cancelar</button>
        </div>
      </div>
    </div>
  </div>

</div>


<div>
  <div id="mensaje" class="modalTipo">
    <div class="modal-content">
      <div class="formulario-campo">
        <label id="msj" [(ngModel)]="msj"></label>
      </div>
    </div>
  </div>
</div>
