

<div class="container" style="margin-top:2%;border-radius:30%;">

  <div class="topnav" style="padding:20px;">
    <input type="text" id="searchUsuario"  placeholder="Buscar usuario...">
    <button type="submit" class="btn-primary" (click) ="buscarUsuario();">Buscar</button>
  </div>

  <table id="tablaPortada" class="table table-hover" style="border:none;text-align:center;">
    <thead style="display:none;"></thead>
    <tbody></tbody>
  </table>

</div>


<div>
  <div id="mensaje" class="modalTipo">
    <div class="modal-content">
      <div class="formulario-campo">
        <label id="msj"></label>
      </div>
    </div>
  </div>
</div>
