

<div class="container" >

  <div class="input-group rounded">
    <input type="search" class="form-control rounded" placeholder="Buscar escort" aria-label="Search" aria-describedby="search-addon" id="searchUsuario"/>
    <span class="btn input-group-text border-0" id="search-addon" (click) ="buscarUsuario();">
      <i class="fas fa-search">Buscar</i>
    </span>
  </div>

  <hr />

  <table id="tablaPortada" class="table table-hover" style="border:none;text-align:center;">
    <thead style="display:none;"></thead>
    <tbody></tbody>
  </table>

</div>


<div>
  <div id="mensaje" class="modalTipo">
    <div class="modal-content">
      <div class="formulario-campo">
        <label id="msj"></label>
      </div>
    </div>
  </div>
</div>
