

<div>

  <div class="col col-14">


    <label>Email</label>
    <input type="email" id="mail" class="form form-control" required [(ngModel)]="mail" style="background-color:#f8f4f3;color:black;" /><br />


    <label>Contraseña</label>
    <input type="password" id="password" class="form form-control" required [(ngModel)]="password" style="background-color:#f8f4f3;color:black;"/><br />


    <label class="checkbox-inline"> <input type="checkbox" id="robot" class="btn btn btn-default active" required [(ngModel)]="robot" /> No soy un robot </label><br />

     <div style="text-align:center;">
       <a class ='btn' style="color:#1438ff;font-size:16px;font-style:italic;"> <i (click)="olvidoPassword()">Modificar / Olvidaste la contraseña ?</i></a>
    </div>

  </div>

  <div class="form-group">
    <div class="col-md-12">
      <div class="row">
        <div class="col-md-6">
          <button type="submit" id="registrar" (click)="loginGirls();" class="btn btn-light" style="width:45%;">Login</button>
        </div>
        <div class="col-md-6 text-right">
          <button type="submit" id="cancelar" (click)="cancelar();" class="btn btn-light" style="width:45%;">Cancelar</button>
        </div>
      </div>
    </div>
  </div>

</div>


<div>
  <div id="mensaje" class="modalTipo">
    <div class="modal-content" style="background-color:silver;">
      <div class="formulario-campo" >
        <label id="msj" [(ngModel)]="msj" style="color:black;font-size:18px;"></label>
      </div>
    </div>
  </div>
</div>


<div>
  <div id="olvido" class="modalTipo" >
    <div class="modal-content" style="background-color: #ff66d1;">
      <div class="formulario-campo">

        <label style="float:left;font-size:16px;"> Email </label>
        <input type="email" class="form form-control" id="_mail" placeholder="Ingresa tu email registrado" style="background-color:silver;color:dimgray;" /><br />
        <label style="float:left;font-size:16px;"> Codigo </label>
        <input type="text" class="form form-control" id="_codigo" placeholder="Ingresa codigo" style="background-color:silver;color:dimgray;"/>

        <div class="row">
          <div class="col-md-6 text-left">
            <a class='btn' style="color:#1438ff;font-size:16px;font-style: italic;"> <i (click)="getCodigo();"> Obtener codigo ?</i></a>
          </div>

          <div class="col-md-6 text-right">
            <a class='btn' style="color:#1438ff;font-size:16px;font-style: italic;"> <i (click)="haveCodigo();"> Tengo un codigo !!</i></a>
          </div>

        </div>

        <div id="_msj" style="display:block;font-size:16px;text-align:center;">
          <label id="_mensaje">  </label>
        </div>

        <br />

        <div class="form-group">
          <div class="col-md-12">
            <div class="row">
              <div class="col-md-6 text-left">
                <button type="submit" id="send_mail" (click)="validarCodigo();" class="btn btn-light" style="width:45%;">Enviar</button>
              </div>
              <div class="col-md-6 text-right">
                <button type="submit" id="no_send_mail" (click)="cerrarOlvido();" class="btn btn-light" style="width:45%;">Cancelar</button>
              </div>
            </div>
          </div>
        </div>

      </div>
    </div>
  </div>
</div>




