<div>

  <div class="col col-12">
    <label>Nombre de usuario</label>
    <input type="text" id="username" class="form form-control" required [(ngModel)]="username" />

    <label>Email</label>
    <input type="email" id="mail" class="form form-control" required [(ngModel)]="mail" />

    <label>Contraseña</label>
    <input type="password" id="password" class="form form-control" required [(ngModel)]="password" />

    <label>Confirmar contraseña</label>
    <input type="password" id="confirmaPassword" class="form form-control" required [(ngModel)]="confirmaPassword" />

    <label class="checkbox-inline"><input type="checkbox" id="robot" class="btn btn btn-default active" required [(ngModel)]="robot" /> No soy un robot</label>


    <div class="form-group">

      <div class="col-md-12">
        <div class="row">
          <div class="col-md-6">
            <button type="submit" id="registrar" (click)="getRegister();" class="btn btn-success" style="width:200px;">Registrar</button>
          </div>
          <div class="col-md-6 text-right">
            <input type="reset" id="cancelar" value="Cancelar" class="btn btn-danger" style="width:200px;" />
          </div>
        </div>
      </div>
    </div>

  </div>




</div>

<div>
  <div id="mensaje" class="modalTipo">
    <div class="modal-content">
      <!-- <i class='fas fa-times'>x</i>-->
      <div class="formulario-campo">
        <label id="msj" [(ngModel)]="msj"></label>
      </div>
    </div>
  </div>
</div>




