<div>

  <div class="col col-12">
    <span>Nombre</span>
    <input type="text" id="nombre" class="form form-control" />

    <span>Apellido</span>
    <input type="text" id="apellido" class="form form-control" />

    <span>Nombre de usuario</span>
    <input type="text" id="username" class="form form-control" />

    <span>Email</span>
    <input type="email" id="mail" class="form form-control" />

    <span>Contraseña</span>
    <input type="password" id="password" class="form form-control" />

    <span>Confirmar contraseña</span>
    <input type="password" id="confirmaPassword" class="form form-control" />

    <label class="checkbox-inline"><input type="checkbox" id="chx" class="btn btn btn-default active" required  /> No soy un robot</label>
  </div>


    <div class="form-group">
      <div class="col-md-12">
        <div class="row">
          <div class="col-md-6">
            <input type="submit" id="registrar" value="Registrar" onClick="" class="btn btn-success" style="width:200px;" />
          </div>
          <div class="col-md-6 text-right">
            <input type="reset" id="cancelar" value="Cancelar" onClick="" class="btn btn-danger" style="width:200px;"/>
          </div>
        </div>
      </div>


</div>




