

<div class="container" style="margin-top:2%;border-radius:30%;">

  <div class="container">


    <div id="_profile" class="row">

      <div class="col col-4" style="text-align:center;">
        <img class="imgSkill" id="_foto" />
      </div>

      <br /><br />

      <div class="col col-4" >
        <div>
          <span style="font-family:Times New Roman,Times, serif">Categoria escort: </span><br />
          <input type="text" class="label label-form"   id="escort" />
        </div>
        <div>
          <span style="font-family:Times New Roman,Times, serif">Presentacion: </span><br />
          <input type="text" class="label label-form" id="presentacion" />
        </div>
        <div>
          <span style="font-family:Times New Roman,Times, serif">Edad: </span><br />
          <input type="text" class="label label-form" id="edad" />
        </div>
        <div>
          <span style="font-family:Times New Roman,Times, serif">Ubicacion: </span><br />
          <input type="text" class="label label-form" id="ubicacion" />
        </div>
        <div>
          <span style="font-family:Times New Roman,Times, serif">Telefono: </span><br />
          <input type="text" class="label label-form" id="telefono" />
        </div>
        <div>
          <span style="font-family:Times New Roman,Times, serif"> Valor hora: </span><br />
          <input type="text" class="label label-form"  id="valor1" />
        </div>
        <div>
          <span style="font-family:Times New Roman,Times, serif"> Valor 1/2 hora: </span><br />
          <input type="text" class="label label-form"  id="valor2" />
        </div>
        <div>
          <span style="font-family:Times New Roman,Times, serif">Pais de origen: </span><br />
          <input type="text" class="label label-form"  id="nacion" />
        </div>
      </div>

    </div>
    <hr />

    <table id="tablaPortada" class="table table-hover" style="border:none;text-align:center;">
      <thead style="display:none;"></thead>
      <tbody></tbody>
    </table>

  </div>
</div>

  <div>
    <div id="mensaje" class="modalTipo">
      <div class="modal-content">
        <div class="formulario-campo">
          <label id="msj" [(ngModel)]="msj"></label>
        </div>
      </div>
    </div>
  </div>

  <input type="hidden" id="_username" [(ngModel)]="_username" />
  <input type="hidden" id="_identidad"  [(ngModel)]="_identidad" />

