
@{
    Layout = null;

    <script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
    <script src="~/js/admConfig.js"></script>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous" />
    <link rel="stylesheet" href="~/css/modal.css" />
}

<div id="contenido" style="margin-left: 300px;">
    <a id="abrir" class="abrir-cerrar" href="javascript:void(0)" onclick="mostrar()" style="display: none;">Abrir menu</a>
    <a id="cerrar" class="abrir-cerrar" href="#" onclick="ocultar()" style="display: inline;">Cerrar menu</a>
</div>

<div id="sidebar" class="sidebar" style="width: 300px;">
    <a href="#" class="boton-cerrar" onclick="ocultar()">×</a>
    <ul class="menu">
        <li><a href="#">Opción 1</a></li>
        <li><a href="#">Opción 2</a></li>
        <li><a href="#">Opción 3</a></li>
        <li><a href="#">Opción 4</a></li>
        <li><a href="#">Opción 5</a></li>
    </ul>
</div>





